.VueCarousel-navigation-prev, .VueCarousel-navigation-next {
  color: #ffffff !important;
}

.VueCarousel-navigation-next {
  transform: translateY(-50%) translateX(0) !important;
}

.VueCarousel-navigation-prev {
  transform: translateY(-50%) translateX(0) !important;
}

.vue-carousel-icon {
  width: 4rem;
  height: 4rem;
  padding: 0;
}
