#app {
  background-color: #ffffff;
}

.nav-bar-button {
  text-transform: capitalize;
  font-weight: bold;
}

.nav-bar-button::before {
  color: transparent
}

.nav-bar-button::after {
  color: transparent
}

.bg-dirty-white {
  background-color: #F2F2F2;
}

.bg-primary {
  background-color: #c0392b;
}

.custom-short-separator {

}
