#app {
  background-color: #ffffff;
}

.separator {
  background-color: #882021;
  width: 4rem;
  height: .3rem;
  margin: 1rem auto;
}

.vertical-center {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  align-items: center;
  justify-items: center;
}

.holder {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}
